/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  
}     
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 0px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 2px 3.5px 1px;
  vertical-align: baseline;
  width: 20px;
  height: 20px;
  position: relative;
  left: 10px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #535353;
  background-color: #e4e4e4;
}
.button.button-default:hover,
.button.button-default:focus {
  transition: width 0.7s ease; height: 0.7s ease in out;
  width: 5vw;
  height: 4vw;
  filter: brightness(120%);
}

/* Behance */
.button.button-behance {
  color: #ffffff;
  background-color: #0057FF;
}
.button.button-behance:hover,
.button.button-behance:focus {
  filter: brightness(90%);
}

/* Goodreads */
.button.button-goodreads {
  color: #333333;
  background-color: #f3f1e6;
  border: 1px solid #212121;
}
.button.button-goodreads:hover,
.button.button-goodreads:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linked {
  color: #ffffff;
  background-color: #2867b2;
}
.button.button-linked:hover,
.button.button-linked:focus {
  filter: brightness(90%);
}

/* Read.cv */
.button.button-read-cv {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-read-cv:hover,
.button.button-read-cv:focus {
  filter: brightness(90%);
}

/* Shop */
.button.button-shop {
  color: #ffffff;
  background-color: #5A31F4;
}
.button.button-shop:hover,
.button.button-shop:focus {
  filter: brightness(90%);
}

/* Spotify */
.button.button-spotify {
  color: #191414;
  background-color: #1db954;
}
.button.button-spotify:hover,
.button.button-spotify:focus {
  filter: brightness(90%);
}

/* TikTok */
.button.button-tiktok {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-tiktok:hover,
.button.button-tiktok:focus {
  filter: brightness(90%);
}

/* Website */
.button.button-web {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-web:hover,
.button.button-web:focus {
  filter: brightness(90%);
}

/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}
.button.button-whatsapp:hover,
.button.button-whatsapp:focus {
  filter: brightness(90%);
}

/* YouTube */
.button.button-yt {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-yt:hover,
.button.button-yt:focus {
  filter: brightness(90%);
}

